USE [LibraryDB]
GO
/****** Object:  User [LibraryUser]    Script Date: 17/02/2026 3:02:12 p. m. ******/
CREATE USER [LibraryUser] FOR LOGIN [LibraryUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [LibraryUser]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [LibraryUser]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [LibraryUser]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [LibraryUser]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [LibraryUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [LibraryUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [LibraryUser]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [LibraryUser]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [LibraryUser]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 17/02/2026 3:02:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[BornCity] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 17/02/2026 3:02:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Year] [int] NOT NULL,
	[Gender] [nvarchar](200) NOT NULL,
	[PagesNumber] [int] NOT NULL,
	[AuthorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_BOOKS_AUTHOR] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_BOOKS_AUTHOR]
GO
